* {
  /* font-family: 'Noto Serif', cursive; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Caveat', cursive;
  font-size: 20px;

}

.h-font {
  /* font-family: 'Noto Serif', cursive; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 1.2em;


}

.map-center {
  margin: 0 auto;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-bg {
  background-color: #2ec1ac;
  border: 1px solid var(--teal);
}

.custom-bg:hover {
  background-color: #2ec1ac;
}

.checkAvail {
  margin-top: -50px;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 992px) {
  .checkAvail {
    margin-top: -50px;
    z-index: 2;
    position: relative;
  }
}

.card-img-top {
  width: 100%;
  height: auto;
}

.footer-area {
  position: relative;
  z-index: 1;
  background-color: #F4F2EC;
}

.single-footer-widget {
  position: relative;
  z-index: 1;
}

.single-footer-widget .widget-title {
  font-size: 50px;
  color: #000000;
  margin-bottom: 25px;
  display: block;
  text-transform: capitalize;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-footer-widget .widget-title {

    font-size: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .single-footer-widget .widget-title {
    font-size: 50px;
  }
}

.single-footer-widget .latest-blog-area {
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}

.single-footer-widget .latest-blog-area:last-child {
  margin-bottom: 0;
}

.single-footer-widget .latest-blog-area .post-title {
  font-size: 50px;
  display: block;
  margin-bottom: 5px;
  color: #F4F2EC;
  font-weight: 400;
}

.single-footer-widget .latest-blog-area .post-title:focus,
.single-footer-widget .latest-blog-area .post-title:hover {
  color: #F4F2EC;
}

.single-footer-widget .footer-nav {
  position: relative;
  z-index: 1;
}

.single-footer-widget .footer-nav li a {
  display: block;
  margin-bottom: 10px;
  color: #636a76;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
}

.single-footer-widget .footer-nav li a:focus,
.single-footer-widget .footer-nav li a:hover {
  color: #ffffff;
}

.single-footer-widget .footer-nav li:last-child a {
  margin-bottom: 0;
}

.single-footer-widget .nl-form {
  position: relative;
  z-index: 1;
  margin-top: 30px;
}

.single-footer-widget .nl-form input {
  width: 100%;
  height: 46px;
  background-color: #3e525f;
  border-radius: 30px;
  border: none;
  padding: 0 20px;
  color: #ffffff;
  font-size: 50px;
}

.single-footer-widget .nl-form input:focus {
  box-shadow: none;
}

.single-footer-widget .nl-form button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  top: 3px;
  right: 3px;
  color: #ffffff;
  background-color: #1cc3b2;
  cursor: pointer;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.single-footer-widget .nl-form button:focus,
.single-footer-widget .nl-form button:hover {
  background-color: #2a303b;
}

.single-footer-widget .footer-logo {
  display: block;
  margin-bottom: 20px;
}

/* .blend-image {
  mix-blend-mode: multiply;
  filter: brightness(1) invert(0);
} */

.single-footer-widget p {
  color: #afb4bf;
}

.single-footer-widget h4 {
  color: #1cc3b2;
}
/*Contact email+ address*/
.single-footer-widget span {
  color: #afb4bf;
  font-size: 30px; 
  display: block;
  margin-bottom: 10px;
}

.single-footer-widget span:last-child {
  margin-bottom: 0;
}

.copywrite-text {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .copywrite-text {
    margin-bottom: 15px;
    text-align: center;
  }
}

.copywrite-text p {
  font-size: 14px;
  color: black;
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .copywrite-text p {
    font-size: 12px;
  }
}

.copywrite-text p a {
  color: black;
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
  .copywrite-text p a {
    font-size: 12px;
  }
}

.copywrite-text p a:focus,
.copywrite-text p a:hover {
  color: #ffffff;
}

.copywrite-content {
  position: relative;
  z-index: 1;
  padding: 15px 0;
  border-top: 1px solid #273d4b;
  text-align: center;
}

.copywrite-content .social-info,
.copywrite-content .copywrite-text {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.copywrite-content .social-info a {
  display: inline-block;
  color: #afb4bf;
  padding: 0 10px;
}

/* .h-line {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
} */
.h-line {
  width: 15%;
  /* Adjust the width as desired */
  height: 1px;
  background-color: #000000;
  margin: 10px auto;
}


.copywrite-content .social-info a:focus,
.copywrite-content .social-info a:hover {
  color: #ffffff;
}

.pop:hover {
  border-top-color: var(--teal) !important;
  transform: scale(1.50);
  transition: all 0.3s;
}



.btn-blue {
  color: white;
  background-color: #3b82f6;
  border: 2px solid #3b82f6;
}


.btn-blue-outline {
  color: #3b82f6;
  background-color: transparent;
  border: 2px solid #3b82f6;
}

.btn-blue:hover {
  transition: all 0.3s ease;
  background: #0b63f3;
  border: 2px solid #0b63f3;
}

.btn-blue-outline:hover {
  color: white;
  background-color: #3b82f6;
}

.btn-small {
  padding: 0.5rem 1rem;
}

#backToTopBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 0.5rem 0.9rem;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

  #backToTopBtn.show {
      opacity: 1;
      visibility: visible;
  }
    .terms-container {
     height: 10em;
     /* Adjust the height as needed */
     overflow: auto;
     border: 1px solid #ccc;
     padding: 5px;
   }